@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}